html {
  font-family: "Roboto";
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  margin-block: 0;
  margin-left: auto;
  margin-right: auto;
}

.button_Blue {
  height: 66px;
  width: 308px;
  background-color: #8ACFE5;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #011827;
}

.button_Red {
  height: 66px;
  width: 308px;
  background-color: #E3170A;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
}

.a_LinkOnline {
  color: #36769d;
  font-size: 1rem;
  font-weight: 700;
}

.main {
  background-color: #011827;
  display: flex;
  height: 144px;
}
.main .h_Main {
  font-size: 1.5rem;
  color: #FFFFFF;
  width: 78px;
  height: 84px;
  margin-top: 25px;
  margin-left: 13px;
}
@media screen and (min-width: 800px) {
  .main .h_Main {
    font-size: 2.5rem;
    width: fit-content;
    height: fit-content;
    margin-top: 61px;
    margin-bottom: 0;
  }
}
.main .img_Main {
  width: 128px;
  height: 82px;
  margin-top: 26px;
  margin-left: 27px;
}

.nav_Main {
  display: none;
}
@media screen and (min-width: 800px) {
  .nav_Main {
    display: flex;
    align-items: center;
    background-color: #011827;
    min-height: 72px;
  }
  .nav_Main .ul_MainList {
    display: flex;
    list-style-type: none;
    flex: 100%;
    justify-content: space-evenly;
  }
  .nav_Main .a_MainList {
    color: #FFFFFF;
    font-size: 1.5rem;
    text-decoration: none;
  }
}

.div_Challenges {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 800px) {
  .div_Challenges {
    display: grid;
    grid-template-columns: 4;
  }
}
.div_Challenges .img_Challenges {
  min-height: 274px;
  max-height: 468px;
  object-fit: cover;
}
@media screen and (min-width: 800px) {
  .div_Challenges .img_Challenges {
    grid-column: 1/5;
    width: 100%;
  }
}
.div_Challenges .button_Red {
  display: none;
}
@media screen and (min-width: 800px) {
  .div_Challenges .button_Red {
    display: block;
    grid-column: 2;
    justify-self: end;
    margin-top: -33px;
    margin-right: 0.5rem;
  }
}
.div_Challenges .button_Blue {
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 800px) {
  .div_Challenges .button_Blue {
    margin: 0;
    margin-top: -33px;
    grid-column: 3;
    margin-left: 0.5rem;
  }
}
.div_Challenges .a_LinkOnline {
  margin-top: 37px;
  text-align: center;
}
@media screen and (min-width: 800px) {
  .div_Challenges .a_LinkOnline {
    display: none;
  }
}

.div_Quot {
  padding-top: 60px;
  padding-bottom: 50px;
}
.div_Quot .p_Quot {
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
  display: table-cell;
}
.div_Quot .small_Quot {
  display: block;
  font-size: 1.125rem;
}
.div_Quot .img_Quot {
  width: 73.34px;
  height: 72px;
  float: left;
  padding-left: 15px;
}
.div_Quot .div_QuotOne {
  display: none;
}
@media screen and (min-width: 800px) {
  .div_Quot .div_QuotOne {
    display: block;
  }
}

.div_Booking .h_Booking {
  font-size: 2rem;
  font-weight: 400;
  padding: 15px;
}
.div_Booking .div_BookRooms {
  display: flex;
  margin-left: 10%;
  overflow: auto;
}
.div_Booking .div_BookRooms .div_Book {
  display: grid;
  grid-template-columns: 3;
  width: 363px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px 0px;
  border-radius: 8px;
  margin-right: 42px;
}
.div_Booking .div_BookRooms .div_Book .h_Book {
  grid-column: 1/4;
  grid-row: 2;
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 17px;
}
.div_Booking .div_BookRooms .div_Book .img_Book {
  height: 219px;
  border-radius: 8px 8px 0 0;
  grid-column: 1/4;
  grid-row: 1;
}
.div_Booking .div_BookRooms .div_Book .stars {
  grid-column: 1/3;
  grid-row: 3;
  margin-left: 17px;
}
.div_Booking .div_BookRooms .div_Book .stars .img_BookStarFilled {
  padding-right: 5px;
}
.div_Booking .div_BookRooms .div_Book .small_Book {
  grid-column: 3;
  grid-row: 3;
  margin-left: -20px;
}
.div_Booking .div_BookRooms .div_Book .p_Book {
  grid-column: 1/4;
  grid-row: 4;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 17px;
  margin-right: 17px;
}
.div_Booking .div_BookRooms .div_Book .button_Red {
  grid-column: 3;
  grid-row: 5;
  font-size: 1rem;
  color: #FFFFFF;
  width: 179.28px;
  height: 44px;
  border-radius: 8px;
}

.div_ButtonBooking {
  display: flex;
  flex-direction: column;
}
.div_ButtonBooking .button_Red {
  display: none;
}
.div_ButtonBooking .button_Blue {
  margin-top: 47px;
  margin-left: auto;
  margin-right: auto;
}
.div_ButtonBooking .a_LinkOnline {
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

.div_FullStory {
  background-color: #011827;
  min-height: 500px;
  color: #FFFFFF;
  text-align: center;
}
.div_FullStory .p_FullStory {
  max-height: 500px;
  font-size: 1.75rem;
  font-weight: 400;
  padding-top: 15%;
  padding-left: 10px;
  padding-right: 10px;
}
.div_FullStory .button_Red {
  height: 66px;
  background-color: transparent;
  color: #8ACFE5;
  border-color: #8ACFE5;
  border-style: solid;
  margin-top: 30px;
  margin-bottom: 10%;
  margin-left: auto;
  margin-right: auto;
}

.div_BookOnSite {
  display: flex;
  flex-direction: column;
}
.div_BookOnSite .h_BookOnSite {
  order: 1;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 17px;
}
.div_BookOnSite .img_BookOnSite {
  order: 0;
  height: 300px;
  object-fit: cover;
}
.div_BookOnSite .p_BookOnSite {
  order: 2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 17px;
  margin-right: 17px;
}
.div_BookOnSite .button_Red {
  order: 3;
  margin-left: 17px;
  margin-bottom: 50px;
}

.div_SeeAll {
  display: flex;
  flex-direction: column;
}
.div_SeeAll .h_SeeAll {
  order: 1;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 17px;
}
.div_SeeAll .img_SeeAll {
  order: 0;
  height: 300px;
  object-fit: cover;
}
.div_SeeAll .p_SeeAll {
  order: 2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 17px;
  margin-right: 17px;
}
.div_SeeAll .button_Red {
  order: 3;
  margin-left: 17px;
  margin-bottom: 80px;
}

footer {
  background-color: #011827;
  color: #FFFFFF;
  min-height: 556px;
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 80px;
  font-size: 18px;
  font-weight: 400;
}
footer head {
  font-weight: 700;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
}

/*# sourceMappingURL=main.css.map */
