html {
  font-family: "Roboto";
  margin-left: auto;
  margin-right: auto;
  font-size: 16px;
}

body {
  box-sizing: border-box;
  margin-block: 0;
  margin-left: auto;
  margin-right: auto;
}

.button_Blue {
  height: 66px;
  width: 308px;
  background-color: #8ACFE5;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #011827;
}

.button_Red {
  height: 66px;
  width: 308px;
  background-color: #E3170A;
  border: none;
  border-radius: 4px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #FFFFFF;
}

.a_LinkOnline {
  color: #36769d;
  font-size: 1rem;
  font-weight: 700;
}

.main {
  background-color: #011827;
  display: flex;
  height: 144px;
}
.main .h_Main {
  font-size: 1.5rem;
  color: #FFFFFF;
  width: 78px;
  height: 84px;
  margin-top: 25px;
  margin-left: 13px;
}
@media screen and (min-width: 1280px) {
  .main .h_Main {
    font-size: 2.5rem;
    width: fit-content;
    height: fit-content;
    margin-top: 61px;
    margin-bottom: 0;
  }
}
.main .img_Main {
  width: 128px;
  height: 82px;
  margin-top: 26px;
  margin-left: 27px;
}

.nav_Main {
  display: none;
}
@media screen and (min-width: 1280px) {
  .nav_Main {
    display: flex;
    align-items: center;
    background-color: #011827;
    min-height: 72px;
  }
  .nav_Main .ul_MainList {
    display: flex;
    list-style-type: none;
    flex: 100%;
    justify-content: space-evenly;
  }
  .nav_Main .a_MainList {
    color: #FFFFFF;
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
  }
}

.div_Challenges {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .div_Challenges {
    display: grid;
    grid-template-columns: 4;
  }
}
.div_Challenges .img_Challenges {
  min-height: 274px;
  max-height: 468px;
  object-fit: cover;
}
@media screen and (min-width: 1280px) {
  .div_Challenges .img_Challenges {
    grid-column: 1/5;
    width: 100%;
  }
}
.div_Challenges .button_Red {
  display: none;
}
@media screen and (min-width: 1280px) {
  .div_Challenges .button_Red {
    display: block;
    grid-column: 2;
    justify-self: end;
    margin-top: -33px;
    margin-right: 0.5rem;
  }
}
.div_Challenges .button_Blue {
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1280px) {
  .div_Challenges .button_Blue {
    margin: 0;
    margin-top: -33px;
    grid-column: 3;
    margin-left: 0.5rem;
  }
}
.div_Challenges .a_LinkOnline {
  margin-top: 37px;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .div_Challenges .a_LinkOnline {
    display: none;
  }
}

.div_Quot {
  padding-top: 60px;
  padding-bottom: 50px;
}
@media screen and (min-width: 1280px) {
  .div_Quot {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
}
.div_Quot .div_QuotOne {
  display: grid;
  grid-template-columns: 15px auto auto 15px;
}
.div_Quot .div_QuotOne .img_Quot {
  grid-column: 2;
  width: 73.34px;
  height: 72px;
  justify-self: end;
}
.div_Quot .div_QuotOne .p_Quot {
  grid-column: 3;
  grid-row: 1;
  font-size: 1.5rem;
  font-weight: 400;
  font-style: italic;
  max-width: 412px;
  margin: 0;
  padding-left: 15px;
}
.div_Quot .div_QuotOne .small_Quot {
  display: block;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 1rem;
}
@media screen and (min-width: 1280px) {
  .div_Quot .div_QuotOne .small_Quot {
    max-width: 284.29px;
  }
}
.div_Quot .div_QuotTwo {
  display: none;
}
@media screen and (min-width: 1280px) {
  .div_Quot .div_QuotTwo {
    display: grid;
    grid-template-columns: 15px auto auto 15px;
  }
  .div_Quot .div_QuotTwo .img_Quot {
    grid-column: 2;
    width: 73.34px;
    height: 72px;
  }
  .div_Quot .div_QuotTwo .p_Quot {
    grid-column: 3;
    grid-row: 1;
    margin-top: 0;
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    max-width: 412px;
    margin: 0;
    padding-left: 15px;
  }
  .div_Quot .div_QuotTwo .small_Quot {
    display: block;
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 1rem;
  }
}
@media screen and (min-width: 1280px) and (min-width: 1280px) {
  .div_Quot .div_QuotTwo .small_Quot {
    max-width: 284.29px;
  }
}

.div_Booking .h_Booking {
  font-size: 2rem;
  font-weight: 400;
  padding: 15px;
  justify-self: center;
}
@media screen and (min-width: 1280px) {
  .div_Booking .h_Booking {
    margin-top: 40px;
    margin-bottom: 75px;
  }
}
.div_Booking .div_BookRooms {
  display: flex;
  padding-bottom: 20px;
  overflow: auto;
}
@media screen and (min-width: 1280px) {
  .div_Booking .div_BookRooms {
    justify-content: center;
    margin-right: 43px;
  }
}
.div_Booking .div_BookRooms .div_Book {
  display: grid;
  grid-template-columns: 3;
  width: 363px;
  padding-bottom: 10px;
  box-shadow: #B6BDB5 0px 5px 15px 0px;
  border-radius: 8px;
  margin-left: 43px;
}
.div_Booking .div_BookRooms .div_Book .h_Book {
  grid-column: 1/4;
  grid-row: 2;
  font-size: 1.75rem;
  font-weight: 400;
  margin-top: 12px;
  margin-bottom: 0;
  margin-left: 17px;
}
.div_Booking .div_BookRooms .div_Book .img_Book {
  height: 219px;
  width: 363px;
  border-radius: 8px 8px 0 0;
  grid-column: 1/4;
  grid-row: 1;
}
.div_Booking .div_BookRooms .div_Book .stars {
  grid-column: 1/3;
  grid-row: 3;
  margin-left: 17px;
}
.div_Booking .div_BookRooms .div_Book .stars .img_BookStarFilled {
  padding-right: 5px;
}
.div_Booking .div_BookRooms .div_Book .small_Book {
  grid-column: 3;
  grid-row: 3;
  margin-left: -20px;
}
.div_Booking .div_BookRooms .div_Book .p_Book {
  grid-column: 1/4;
  grid-row: 4;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 17px;
  margin-right: 17px;
}
.div_Booking .div_BookRooms .div_Book .button_Red {
  grid-column: 3;
  grid-row: 5;
  font-size: 1rem;
  color: #FFFFFF;
  width: 179.28px;
  height: 44px;
  border-radius: 8px;
}

.div_ButtonBooking {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .div_ButtonBooking {
    display: grid;
    grid-template-columns: auto auto auto auto;
  }
}
.div_ButtonBooking .button_Red {
  display: none;
}
@media screen and (min-width: 1280px) {
  .div_ButtonBooking .button_Red {
    display: block;
    grid-column: 2;
    justify-self: end;
    margin-top: 65px;
    margin-bottom: 65px;
    margin-right: 0.5rem;
  }
}
.div_ButtonBooking .button_Blue {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1280px) {
  .div_ButtonBooking .button_Blue {
    margin: 0;
    margin-top: 65px;
    grid-column: 3;
    margin-left: 0.5rem;
  }
}
.div_ButtonBooking .a_LinkOnline {
  margin-top: 25px;
  margin-bottom: 33px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1280px) {
  .div_ButtonBooking .a_LinkOnline {
    display: none;
  }
}

.div_FullStory {
  background-color: #011827;
  min-height: 500px;
  color: #FFFFFF;
  text-align: center;
}
@media screen and (min-width: 1280px) {
  .div_FullStory {
    max-height: 500px;
  }
}
.div_FullStory .p_FullStory {
  max-width: 632px;
  font-size: 1.75rem;
  font-weight: 400;
  padding-top: 90px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 1280px) {
  .div_FullStory .p_FullStory {
    padding-top: 115px;
    padding-bottom: 15px;
  }
}
.div_FullStory .button_Red {
  height: 66px;
  background-color: transparent;
  color: #8ACFE5;
  border-color: #8ACFE5;
  border-style: solid;
  margin-bottom: 90px;
}

.div_BookOnSite {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .div_BookOnSite {
    display: grid;
    grid-template-columns: 640px 640px;
    height: 460px;
    justify-self: center;
  }
}
.div_BookOnSite .h_BookOnSite {
  order: 1;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 17px;
  margin-right: 17px;
}
@media screen and (min-width: 1280px) {
  .div_BookOnSite .h_BookOnSite {
    grid-column: 2;
    grid-row: 1;
  }
}
.div_BookOnSite .img_BookOnSite {
  order: 0;
  height: 300px;
  object-fit: cover;
}
@media screen and (min-width: 1280px) {
  .div_BookOnSite .img_BookOnSite {
    max-width: 100%;
    height: 460px;
    grid-column: 1;
    grid-row: span 3;
  }
}
.div_BookOnSite .p_BookOnSite {
  order: 2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 17px;
  margin-right: 17px;
  margin-top: 0;
  margin-bottom: 60px;
}
@media screen and (min-width: 1280px) {
  .div_BookOnSite .p_BookOnSite {
    grid-column: 2;
    grid-row: 2;
  }
}
.div_BookOnSite .button_Red {
  order: 3;
  margin-left: 17px;
  margin-bottom: 60px;
}
@media screen and (min-width: 1280px) {
  .div_BookOnSite .button_Red {
    grid-column: 2;
    grid-row: 3;
  }
}

.div_SeeAll {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1280px) {
  .div_SeeAll {
    display: grid;
    grid-template-columns: 640px 640px;
    height: 460px;
    justify-self: center;
  }
}
.div_SeeAll .h_SeeAll {
  order: 1;
  font-size: 2rem;
  font-weight: 700;
  margin-left: 17px;
  margin-right: 17px;
}
@media screen and (min-width: 1280px) {
  .div_SeeAll .h_SeeAll {
    grid-column: 1;
    grid-row: 1;
  }
}
.div_SeeAll .img_SeeAll {
  order: 0;
  height: 300px;
  object-fit: cover;
}
@media screen and (min-width: 1280px) {
  .div_SeeAll .img_SeeAll {
    max-width: 100%;
    height: 460px;
    grid-column: 2;
    grid-row: span 3;
  }
}
.div_SeeAll .p_SeeAll {
  order: 2;
  font-size: 1.5rem;
  font-weight: 400;
  margin-left: 17px;
  margin-right: 17px;
  margin-top: -10px;
  margin-bottom: 50px;
}
@media screen and (min-width: 1280px) {
  .div_SeeAll .p_SeeAll {
    grid-column: 1;
    grid-row: 2;
  }
}
.div_SeeAll .button_Red {
  order: 3;
  margin-left: 17px;
  margin-bottom: 100px;
}
@media screen and (min-width: 1280px) {
  .div_SeeAll .button_Red {
    grid-column: 1;
    grid-row: 3;
  }
}

footer {
  background-color: #011827;
  color: #FFFFFF;
  min-height: 556px;
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  font-size: 1.125rem;
}
footer h2 {
  font-size: 1.125rem;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
}
@media screen and (min-width: 1280px) {
  footer {
    margin-top: 180px;
    display: grid;
    grid-template-columns: 735px 220px 200px;
    grid-template-rows: max-content;
  }
}
footer .div_About {
  max-width: 740px;
}
@media screen and (min-width: 1280px) {
  footer .div_About {
    max-width: 416px;
    grid-column: 1;
    grid-row: 1;
    margin-top: 70px;
    margin-left: 85px;
  }
}
footer .nav_SiteMap {
  margin-top: 40px;
}
footer .nav_SiteMap .h_SiteMap {
  margin-bottom: -10px;
}
@media screen and (min-width: 1280px) {
  footer .nav_SiteMap {
    grid-column: 2;
    grid-row: 1;
    margin-top: 70px;
  }
}
@media screen and (min-width: 1280px) {
  footer .nav_PlayList {
    grid-column: 2;
    grid-row: 2;
    margin-top: -50px;
  }
}
footer .nav_Contact {
  margin-top: 40px;
}
footer .nav_Contact .h_Contact {
  margin-bottom: -10px;
}
@media screen and (min-width: 1280px) {
  footer .nav_Contact {
    grid-column: 3;
    grid-row: 1;
    margin-top: 70px;
  }
}

/*# sourceMappingURL=main.css.map */
