html {
  font-family: "Roboto";
  margin-left: auto;
  margin-right: auto;
}

body {
  box-sizing: border-box;
  max-width: 100%;
  /*vw*/
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.button_Blue {
  height: 66px;
  width: 308px;
  padding: 0.5em;
  background-color: #8ACFE5;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 700;
  color: #011827;
}

.button_Red {
  height: 66px;
  width: 308px;
  padding: 0.5rem;
  background-color: #E3170A;
  border: none;
  border-radius: 4px;
  font-size: 24px;
  font-weight: 700;
  color: #FFFFFF;
}

.a_LinkOnline {
  color: #36769d;
  font-size: 16px;
  font-weight: 700;
}

.main {
  background-color: #011827;
  display: flex;
  height: 144px;
}
.main .h_Main {
  font-size: 24px;
  color: #FFFFFF;
  width: 78px;
  height: 84px;
  /*Padding?*/
  margin-top: 25px;
  margin-left: 13px;
}
.main .img_Main {
  width: 128px;
  height: 82px;
  margin-top: 26px;
  margin-left: 27px;
}

.nav_Main {
  display: none;
}

.div_Challenges {
  display: flex;
  flex-direction: column;
}
.div_Challenges .img_Challenges {
  width: 100%;
  height: 274px;
  object-fit: cover;
  order: 0;
}
.div_Challenges .button_Red {
  display: none;
}
.div_Challenges .button_Blue {
  order: 1;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}
.div_Challenges .a_LinkOnline {
  order: 2;
  margin-top: 37px;
  text-align: center;
}

.div_Quot {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 50px;
}
.div_Quot .p_Quot {
  font-size: 24px;
  font-weight: 400;
  font-style: italic;
  padding-left: 15px;
  padding-right: 15px;
  display: table-cell;
}
.div_Quot .small_Quot {
  display: block;
  font-size: 18px;
}
.div_Quot .img_Quot {
  width: 73.34px;
  height: 72px;
  float: left;
  padding-left: 15px;
}
.div_Quot .div_QuotOne {
  display: none;
}

.div_Booking {
  overflow-x: hidden;
  /*Adjust*/
}
.div_Booking .h_Booking {
  font-size: 32px;
}
.div_Booking .div_BookRooms {
  display: flex;
}
.div_Booking .div_BookRooms .div_Book {
  display: grid;
  grid-template-columns: 3;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 8px;
  margin-right: 42px;
  width: 363px;
}
.div_Booking .div_BookRooms .div_Book .h_Book {
  grid-column: 1/4;
  grid-row: 2;
  font-size: 28px;
  font-weight: 400;
  margin-left: 17px;
}
.div_Booking .div_BookRooms .div_Book .img_Book {
  width: 363px;
  height: 219px;
  border-radius: 8px 8px 0 0;
  grid-column: 1/4;
  grid-row: 1;
}
.div_Booking .div_BookRooms .div_Book .stars {
  grid-template-columns: 1/3;
  grid-row: 3;
  margin-left: 17px;
}
.div_Booking .div_BookRooms .div_Book .small_Book {
  grid-column: 3;
  grid-row: 3;
}
.div_Booking .div_BookRooms .div_Book .p_Book {
  grid-column: 1/4;
  grid-row: 4;
  margin-left: 17px;
}
.div_Booking .div_BookRooms .div_Book .button_Red {
  grid-column: 3/4;
  grid-row: 5;
  font-size: 16px;
  color: #FFFFFF;
  width: 179.28px;
  height: 44px;
  border-radius: 8px;
}

.div_ButtonBooking {
  display: flex;
  flex-direction: column;
}
.div_ButtonBooking .button_Red {
  display: none;
}
.div_ButtonBooking .button_Blue {
  order: 1;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}
.div_ButtonBooking .a_LinkOnline {
  order: 2;
  margin-top: 37px;
  margin-left: auto;
  margin-right: auto;
}

.div_FullStory {
  background-color: #011827;
  height: 500px;
  color: #FFFFFF;
  text-align: center;
}
.div_FullStory .p_FullStory {
  padding-left: 10px;
  padding-right: 10px;
}
.div_FullStory .button_Red {
  height: 66px;
  background-color: transparent;
  color: #8ACFE5;
  border-color: #8ACFE5;
  border-style: solid;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
}

.div_BookOnSite {
  display: flex;
  flex-direction: column;
}
.div_BookOnSite .h_BookOnSite {
  order: 1;
  font-size: 32px;
  font-weight: 700;
}
.div_BookOnSite .img_BookOnSite {
  order: 0;
}
.div_BookOnSite .p_BookOnSite {
  order: 2;
  font-size: 24px;
  font-weight: 400;
}
.div_BookOnSite .button_Red {
  order: 3;
}

.div_SeeAll {
  display: flex;
  flex-direction: column;
}
.div_SeeAll .h_SeeAll {
  order: 1;
  font-size: 32px;
  font-weight: 700;
}
.div_SeeAll .img_SeeAll {
  order: 0;
}
.div_SeeAll .p_SeeAll {
  order: 2;
  font-size: 24px;
  font-weight: 400;
}
.div_SeeAll .button_Red {
  order: 3;
}

footer {
  background-color: #011827;
  color: #FFFFFF;
  height: 556px;
  padding-top: 60px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 80px;
  font-size: 18px;
  font-weight: 400;
}
footer head {
  font-weight: 700;
}
footer ul {
  list-style-type: none;
  padding: 0;
}
footer a {
  color: #FFFFFF;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  .main {
    background-color: red;
  }
}

/*# sourceMappingURL=main.css.map */
