$color-lilac: rgb(132, 92, 241);

//Styling not completed yet

@media screen and (min-width: 1280px) {
    .book .book__div {
        justify-content: center;
        margin-right: 43px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media screen and (min-width: 1280px) {
    .book__div__room {
        margin-bottom: 15px;
        margin-top: 15px;
    }
}

.bookingModal {
    display: none;

    .bookingModal__div {
        background-color: lightblue;
        display: grid;
        grid-template-columns: 2;
        margin-left: 20px;

        .bookingModal__titel {
            grid-column: 1;
            grid-row: 1;
            font-size: 1.5rem;
        }

        .bookingModal__close {
            grid-column: 2;
            grid-row: 1;
            background-color: transparent;
            border-color: transparent;
            width: fit-content;
            justify-self: end;
        }

        .bookingModal__text {
            grid-column: 1;
            grid-row: 2;
        }

        .bookingModal__label {
            grid-column: 1;
            grid-row: 3;
        }

        .bookingModal__input {
            grid-column: 1;
            grid-row: 4;
            width: 250px;
        }

        .bookingModal__open {
            grid-column: 2;
            grid-row: 5;
            justify-self: end;
            width: fit-content;
            margin-right: 15px;
            margin-bottom: 15px;
            background-color: $color-lilac;
            color: white;
            border-color: transparent;
            border-radius: 3px;
            padding: 8px;
        }
    }
}

.bookRoom {
    display: none;

    .bookRoom__div {
        background-color: lightgreen;
        display: grid;
        grid-template-columns: 2;
        margin-left: 20px;
    }

    .bookRoom__titel {
        grid-column: 1;
        grid-row: 1;
    }

    .bookRoom__close {
        grid-column: 2;
        grid-row: 1;
        background-color: transparent;
        border-color: transparent;
        width: fit-content;
        justify-self: end;
    }

    .bookRoom__label__name {
        grid-column: 1;
        grid-row: 2;
    }

    .bookRoom__input__name {
        grid-column: 1;
        grid-row: 3;
        width: 250px;
    }

    .bookRoom__label__email {
        grid-column: 1;
        grid-row: 4;
    }

    .bookRoom__input__email {
        grid-column: 1;
        grid-row: 5;
        width: 250px;
    }

    .bookRoom__label__time {
        grid-column: 1;
        grid-row: 6;
    }

    .bookRoom__input__time {
        grid-column: 1;
        grid-row: 7;
        width: 250px;
    }

    .bookRoom__label__part {
        grid-column: 1;
        grid-row: 8;
    }

    .bookRoom__input__part {
        grid-column: 1;
        grid-row: 9;
        width: 250px;
    }

    .bookRoom__submit {
        grid-column: 2;
        grid-row: 10;
        width: fit-content;
        justify-self: end;
        background-color: $color-lilac;
        margin-right: 15px;
        margin-bottom: 15px;
        color: white;
        border-color: transparent;
        border-radius: 3px;
        padding: 8px;
    }
}

.submitBooking {

    .submitBooking__div {
        justify-items: center;
    }

    .submitBooking__text {}

    .submitBooking__return {}
}