$color-dark-blue: #011827;
$color-light-blue: #8ACFE5;
$color-medium-blue: #36769d;
$color-red: #E3170A;
$color-grey: #B6BDB5;
$color-white: #FFFFFF;
$screen-medium: 1280px;

@mixin styling-p-quot {
    font-size: 1.5rem;
    font-weight: 400;
    font-style: italic;
    max-width: 412px;
    margin: 0;
    padding-left: 15px;
}

@mixin styling-small-quot {
    font-size: 1.125rem;
    font-weight: 400;
    margin-top: 1rem;
}

@mixin breakpoint ($min-size) {
    @media screen and (min-width: $min-size) {
        @content;
    }
}

html {

    font-family: "Roboto";
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
}

body {
    box-sizing: border-box;
    margin-block: 0;
    margin-left: auto;
    margin-right: auto;
}

.button_Blue {
    height: 66px;
    width: 308px;
    background-color: $color-light-blue;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-dark-blue;
}

.button_Red {
    height: 66px;
    width: 308px;
    background-color: $color-red;
    border: none;
    border-radius: 4px;
    font-size: 1.5rem;
    font-weight: 700;
    color: $color-white;
}

.a_LinkOnline {
    color: $color-medium-blue;
    font-size: 1rem;
    font-weight: 700;
}

.main {
    background-color: #011827;
    display: flex;
    height: 144px;

    .h_Main {
        font-size: 1.5rem;
        color: $color-white;
        width: 78px;
        height: 84px;
        margin-top: 25px;
        margin-left: 13px;

        @include breakpoint($screen-medium) {
            font-size: 2.5rem;
            width: fit-content;
            height: fit-content;
            margin-top: 61px;
            margin-bottom: 0;
        }
    }

    .img_Main {
        width: 128px;
        height: 82px;
        margin-top: 26px;
        margin-left: 27px;
    }
}

.nav_Main {
    display: none;

    @include breakpoint($screen-medium) {
        display: flex;
        align-items: center;
        background-color: #011827;
        min-height: 72px;

        .ul_MainList {
            display: flex;
            list-style-type: none;
            flex: 100%;
            justify-content: space-evenly;
        }

        .a_MainList {
            color: $color-white;
            font-size: 1.5rem;
            font-weight: 700;
            text-decoration: none;
        }
    }
}

.div_Challenges {
    display: flex;
    flex-direction: column;

    @include breakpoint($screen-medium) {
        display: grid;
        grid-template-columns: 4;
    }

    .img_Challenges {
        min-height: 274px;
        max-height: 468px;
        object-fit: cover;

        @include breakpoint($screen-medium) {
            grid-column: 1/5;
            width: 100%;
        }
    }

    .button_Red {
        display: none;

        @include breakpoint($screen-medium) {
            display: block;
            grid-column: 2;
            justify-self: end;
            margin-top: -33px;
            margin-right: 0.5rem;
        }
    }

    .button_Blue {
        margin-top: 37px;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint($screen-medium) {
            margin: 0;
            margin-top: -33px;
            grid-column: 3;
            margin-left: 0.5rem;
        }
    }

    .a_LinkOnline {
        margin-top: 37px;
        text-align: center;

        @include breakpoint($screen-medium) {
            display: none;
        }
    }
}

.div_Quot {
    padding-top: 60px;
    padding-bottom: 50px;

    @include breakpoint($screen-medium) {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    .div_QuotOne {
        display: grid;
        grid-template-columns: 15px auto auto 15px;

        .img_Quot {
            grid-column: 2;
            width: 73.34px;
            height: 72px;
            justify-self: end;
        }

        .p_Quot {
            grid-column: 3;
            grid-row: 1;
            // margin-top: 0;
            @include styling-p-quot();
        }

        .small_Quot {
            display: block;
            @include styling-small-quot();

            @include breakpoint($screen-medium) {
                max-width: 284.29px;
            }
        }

    }

    .div_QuotTwo {
        display: none;

        @include breakpoint($screen-medium) {
            display: grid;
            grid-template-columns: 15px auto auto 15px;

            .img_Quot {
                grid-column: 2;
                width: 73.34px;
                height: 72px;
            }

            .p_Quot {
                grid-column: 3;
                grid-row: 1;
                margin-top: 0;
                @include styling-p-quot();
            }

            .small_Quot {
                display: block;
                @include styling-small-quot();

                @include breakpoint($screen-medium) {
                    max-width: 284.29px;
                }
            }

        }
    }
}

.div_Booking {

    .h_Booking {
        font-size: 2rem;
        font-weight: 400;
        padding: 15px;
        justify-self: center;

        @include breakpoint($screen-medium) {
            margin-top: 40px;
            margin-bottom: 75px;
        }
    }

    .div_BookRooms {
        display: flex;
        padding-bottom: 20px;
        overflow: auto;

        @include breakpoint($screen-medium) {
            justify-content: center;
            margin-right: 43px; //test
        }

        .div_Book {

            display: grid;
            grid-template-columns: 3;
            width: 363px;
            padding-bottom: 10px;
            box-shadow: $color-grey 0px 5px 15px 0px;
            border-radius: 8px;
            margin-left: 43px;

            .h_Book {
                grid-column: 1/4;
                grid-row: 2;
                font-size: 1.75rem;
                font-weight: 400;
                margin-top: 12px;
                margin-bottom: 0;
                margin-left: 17px;
            }

            .img_Book {
                height: 219px;
                width: 363px;
                border-radius: 8px 8px 0 0;
                grid-column: 1/4;
                grid-row: 1;
            }

            .stars {
                grid-column: 1/3;
                grid-row: 3;
                margin-left: 17px;

                .img_BookStarFilled {
                    padding-right: 5px;
                }
            }

            .small_Book {
                grid-column: 3;
                grid-row: 3;
                margin-left: -20px;
            }

            .p_Book {
                grid-column: 1/4;
                grid-row: 4;
                font-size: 1.125rem;
                font-weight: 400;
                margin-top: 25px;
                margin-bottom: 25px;
                margin-left: 17px;
                margin-right: 17px;
            }

            .button_Red {
                grid-column: 3;
                grid-row: 5;
                font-size: 1rem;
                color: $color-white;
                width: 179.28px;
                height: 44px;
                border-radius: 8px;
            }
        }
    }
}

.div_ButtonBooking {
    display: flex;
    flex-direction: column;

    @include breakpoint($screen-medium) {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .button_Red {
        display: none;

        @include breakpoint($screen-medium) {
            display: block;
            grid-column: 2;
            justify-self: end;
            margin-top: 65px;
            margin-bottom: 65px;
            margin-right: 0.5rem;
        }
    }

    .button_Blue {
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint($screen-medium) {
            margin: 0;
            margin-top: 65px;
            grid-column: 3;
            margin-left: 0.5rem;
        }
    }

    .a_LinkOnline {
        margin-top: 25px;
        margin-bottom: 33px;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint($screen-medium) {
            display: none;
        }
    }
}

.div_FullStory {
    background-color: $color-dark-blue;
    min-height: 500px;
    color: $color-white;
    text-align: center;

    @include breakpoint($screen-medium) {
        max-height: 500px;
    }

    .p_FullStory {
        max-width: 632px;
        font-size: 1.75rem;
        font-weight: 400;
        padding-top: 90px;
        padding-bottom: 20px;
        padding-left: 10px;
        padding-right: 10px;
        margin-left: auto;
        margin-right: auto;

        @include breakpoint($screen-medium) {
            padding-top: 115px;
            padding-bottom: 15px;
        }
    }

    .button_Red {
        height: 66px;
        background-color: transparent;
        color: $color-light-blue;
        border-color: $color-light-blue;
        border-style: solid;
        margin-bottom: 90px;
    }
}

.div_BookOnSite {
    display: flex;
    flex-direction: column;

    @include breakpoint($screen-medium) {
        display: grid;
        grid-template-columns: 640px 640px;
        height: 460px;
        justify-self: center;
    }

    .h_BookOnSite {
        order: 1;
        font-size: 2rem;
        font-weight: 700;
        margin-left: 17px;
        margin-right: 17px;

        @include breakpoint($screen-medium) {
            grid-column: 2;
            grid-row: 1;
        }
    }

    .img_BookOnSite {
        order: 0;
        height: 300px;
        object-fit: cover;

        @include breakpoint($screen-medium) {
            max-width: 100%;
            height: 460px;
            grid-column: 1;
            grid-row: span 3;
        }
    }

    .p_BookOnSite {
        order: 2;
        font-size: 1.5rem;
        font-weight: 400;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: 0;
        margin-bottom: 60px;

        @include breakpoint($screen-medium) {
            grid-column: 2;
            grid-row: 2;
        }
    }

    .button_Red {
        order: 3;
        margin-left: 17px;
        margin-bottom: 60px;

        @include breakpoint($screen-medium) {
            grid-column: 2;
            grid-row: 3;
        }
    }

}

.div_SeeAll {
    display: flex;
    flex-direction: column;

    @include breakpoint($screen-medium) {
        display: grid;
        grid-template-columns: 640px 640px;
        height: 460px;
        justify-self: center;
    }

    .h_SeeAll {
        order: 1;
        font-size: 2rem;
        font-weight: 700;
        margin-left: 17px;
        margin-right: 17px;

        @include breakpoint($screen-medium) {
            grid-column: 1;
            grid-row: 1;
        }
    }

    .img_SeeAll {
        order: 0;
        height: 300px;
        object-fit: cover;

        @include breakpoint($screen-medium) {
            max-width: 100%;
            height: 460px;
            grid-column: 2;
            grid-row: span 3;
        }
    }

    .p_SeeAll {
        order: 2;
        font-size: 1.5rem;
        font-weight: 400;
        margin-left: 17px;
        margin-right: 17px;
        margin-top: -10px;
        margin-bottom: 50px;

        @include breakpoint($screen-medium) {
            grid-column: 1;
            grid-row: 2;
        }
    }

    .button_Red {
        order: 3;
        margin-left: 17px;
        margin-bottom: 100px;

        @include breakpoint($screen-medium) {
            grid-column: 1;
            grid-row: 3;
        }
    }
}

footer {
    background-color: #011827;
    color: #FFFFFF;
    min-height: 556px;
    padding-top: 60px;
    padding-left: 25px;
    padding-right: 25px;
    font-size: 1.125rem;

    h2 {
        font-size: 1.125rem;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    a {
        color: #FFFFFF;
        text-decoration: none;
    }

    @include breakpoint($screen-medium) {
        margin-top: 180px;
        display: grid;
        grid-template-columns: 735px 220px 200px;
        grid-template-rows: max-content;
    }

    .div_About {
        max-width: 740px;

        @include breakpoint($screen-medium) {
            max-width: 416px;
            grid-column: 1;
            grid-row: 1;
            margin-top: 70px;
            margin-left: 85px;
        }
    }

    .nav_SiteMap {
        margin-top: 40px;

        .h_SiteMap {
            margin-bottom: -10px;
        }

        @include breakpoint($screen-medium) {
            grid-column: 2;
            grid-row: 1;
            margin-top: 70px;
        }
    }

    .nav_PlayList {
        @include breakpoint($screen-medium) {
            grid-column: 2;
            grid-row: 2;
            margin-top: -50px;
        }
    }

    .nav_Contact {
        margin-top: 40px;
        .h_Contact{
            margin-bottom: -10px;
        }
        @include breakpoint($screen-medium) {
            grid-column: 3;
            grid-row: 1;
            margin-top: 70px;
        }
    }
}